.product-profile-intro-title {
  font-size: 39px;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 48px;
}

.product-profile-intro-description {
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #8231d4;
}

.product-profile-intro-title-fake {
  color: #ebddf8;
}

.product-profile-intro-description-fake {
  color: #c29aea;
}

.product-profile-intro-title-fake2 {
  color: #8231d4;
}

.product-profile-intro-description-fake2 {
  color: #521d87;
}